.mod
    a.i.prev &#xf016e;
    a.i.next &#xf016d;
    - var arr = ['blue', 'orange', 'pink', 'green', 'orange', 'pink', 'green']
    ul.main
        each item in arr
            li(class="#{item}")
    
    .navbar
        each item, i in arr
            span
